<div class="flex">
    <div class="bg-primary h-screen w-16rem flex-shrink-0">
      <div class="w-full h-4rem px-4 flex align-items-center">
        <img src="../../../assets/img/logo-inverse.svg"/>
      </div>
      <div class="sideMenu px-4 py-5">
        <p-panelMenu [transitionOptions]="'10ms'" [model]="items"></p-panelMenu>
      </div>
    </div>
    <div class="mainContent flex flex-grow-1 flex-column">
  
      <nav class="bg-white border-1 border-solid border-200 h-4rem px-4 flex align-items-center justify-content-between sticky top-0 w-full">
        <div class="navbar-left flex align-items-center gap-2">
          <a class="m-0 font-medium text-color">Company</a>
          <i class="ri-arrow-right-s-line text-color text-lg"></i>
          <a class="m-0 font-medium text-color-secondary">Profile</a>
        </div>
        <div class="navbar-right">
        </div>
      </nav>

      <div class="contentArea flex flex-column surface-50 p-6 flex-grow-1">
        <div class="flex-grow-1 bg-white">
            <div class="grid h-full m-0">
                <div class="col-12 lg:col-4 xl:col-2 border-none border-right-1 border-solid border-100 lg:h-full p-4 lg:p-6 xl:p-8">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex flex-column">
                                <p-avatar
                                    image="./../../assets/img/company-avatar-default.png"
                                    size="xlarge"
                                    styleClass="w-5rem h-5rem text-xl bg-primary border-round-sm"
                                ></p-avatar>
                                <div class="mt-6">
                                    <p class="mb-2 mt-0 text-lg font-semibold">Miller Accountigs Pvt Ltd</p>
                                    <p class="m-0 text-base text-color-secondary">12345PV</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col lg:col-8 xl:col-10 p-4 lg:p-6 xl:p-8 flex flex-column">
                    <div>
                        <div class="grid">
                            <div class="col-12">
                                <p class="mb-2 mt-0 text-xl font-semibold">Basic Details</p>
                            </div>
                            <div class="col-12 xl:col-3 mb-4">
                                <p-inplace class="flex-grow-1 p-0" styleClass="flex flex-column hover:bg-white p-0">
                                    <ng-template pTemplate="display" class="flex w-100 hover:bg-white p-0">
                                        <p class="text-base font-medium mb-0 mt-0 text-color-secondary">Company Name</p>
                                        <p class="text-base font-medium mb-0 mt-0 text-color">Miller Accountigs Pvt Ltd</p>
                                    </ng-template>
                                    <ng-template pTemplate="content" class="flex flex-column">
                                        <label class="block mb-2">Company Name</label>
                                        <input type="text" value="Miller Accountigs Pvt Ltd" pInputText class="w-full">
                                    </ng-template>
                                </p-inplace>
                            </div>
                            <div class="col-12 xl:col-3 mb-4">
                                <p-inplace class="flex-grow-1 p-0" styleClass="flex flex-column hover:bg-white p-0">
                                    <ng-template pTemplate="display" class="flex w-100 hover:bg-white p-0">
                                        <p class="text-base font-medium mb-0 mt-0 text-color-secondary">Industry</p>
                                        <p class="text-base font-medium mb-0 mt-0 text-color">Financial  Accounting & Admin</p>
                                    </ng-template>
                                    <ng-template pTemplate="content" class="flex flex-column">
                                        <label class="block mb-2">Industry</label>
                                        <input type="text" value="Financial  Accounting & Admin" pInputText class="w-full">
                                    </ng-template>
                                </p-inplace>
                            </div>
                            <div class="col-12 xl:col-3 mb-4">
                                <p-inplace class="flex-grow-1 p-0" styleClass="flex flex-column hover:bg-white p-0">
                                    <ng-template pTemplate="display" class="flex w-100 hover:bg-white p-0">
                                        <p class="text-base font-medium mb-0 mt-0 text-color-secondary">Company Registration</p>
                                        <p class="text-base font-medium mb-0 mt-0 text-color">12345PV</p>
                                    </ng-template>
                                    <ng-template pTemplate="content" class="flex flex-column">
                                        <label class="block mb-2">Company Registration</label>
                                        <input type="text" value="12345PV" pInputText class="w-full">
                                    </ng-template>
                                </p-inplace>
                            </div>
                            <div class="col-12 xl:col-3 mb-4">
                                <p-inplace class="flex-grow-1 p-0" styleClass="flex flex-column hover:bg-white p-0">
                                    <ng-template pTemplate="display" class="flex w-100 hover:bg-white p-0">
                                        <p class="text-base font-medium mb-0 mt-0 text-color-secondary">Company Address</p>
                                        <p class="text-base font-medium mb-0 mt-0 text-color">12/1, B Block, Main Street, AU</p>
                                    </ng-template>
                                    <ng-template pTemplate="content" class="flex flex-column">
                                        <label class="block mb-2">Company Address</label>
                                        <input type="text" value="12/1, B Block, Main Street, AU" pInputText class="w-full">
                                    </ng-template>
                                </p-inplace>
                            </div>
                            <div class="col-12 xl:col-3 mb-4">
                                <p-inplace class="flex-grow-1 p-0" styleClass="flex flex-column hover:bg-white p-0">
                                    <ng-template pTemplate="display" class="flex w-100 hover:bg-white p-0">
                                        <p class="text-base font-medium mb-0 mt-0 text-color-secondary">Company Email</p>
                                        <p class="text-base font-medium mb-0 mt-0 text-color">info@milleracc.com</p>
                                    </ng-template>
                                    <ng-template pTemplate="content" class="flex flex-column">
                                        <label class="block mb-2">Company Email</label>
                                        <input type="text" value="info@milleracc.com" pInputText class="w-full">
                                    </ng-template>
                                </p-inplace>
                            </div>
                            <div class="col-12 xl:col-3 mb-4">
                                <p-inplace class="flex-grow-1 p-0" styleClass="flex flex-column hover:bg-white p-0">
                                    <ng-template pTemplate="display" class="flex w-100 hover:bg-white p-0">
                                        <p class="text-base font-medium mb-0 mt-0 text-color-secondary">Select Company Type</p>
                                        <p class="text-base font-medium mb-0 mt-0 text-color">PVT</p>
                                    </ng-template>
                                    <ng-template pTemplate="content" class="flex flex-column">
                                        <label class="block mb-2">Select Company Type</label>
                                        <input type="text" value="PVT" pInputText class="w-full">
                                    </ng-template>
                                </p-inplace>
                            </div>
                        </div>
                    </div>
                    <div class="grid mt-6">
                        <div class="col-12">
                            <button pButton pRipple type="button" label="Edit Details" class="p-button-outlined p-button-sm"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
