<div class="grid h-screen w-screen mx-0 my-0 relative resetPasswordView">
    <div class="col-12 surface-100 flex align-items-center justify-content-center">
        <div class="p-8 flex flex-column align-items-center bg-white p-4 sm:w-full md:w-6 xxl:w-4 relative z-5">
            <img src="../../../../assets/img/logo.svg" class="h-2rem w-auto mb-6" />
            <p class="m-0 text-2xl font-semibold">Reset Password</p>
            <p class="mt-3 mb-6 text-sm text-color-secondary text-center">
                Set the new password for your account so you can login and access all the features.
            </p>
            <div class="p-field flex flex-column w-full mb-6">
                <label class="mb-2">New Password <span class="text-red-500">*</span></label>
                <p-password [toggleMask]="true" styleClass="w-full p-password p-inputwrapper p-input-icon-right" promptLabel=" " inputStyleClass="w-full" appendTo="passwordStrengthContainer" >
                </p-password>
                <div class="passwordStrengthContainer" id="passwordStrengthContainer">
                </div>
            </div>
            <div class="p-field flex flex-column w-full mb-6">
                <label class="mb-2">Confirm Password <span class="text-red-500">*</span></label>
                <p-password [toggleMask]="true" styleClass="w-full p-password p-inputwrapper p-input-icon-right" inputStyleClass="w-full" [feedback]="false"></p-password>
            </div>
            <div class="flex w-full mb-6">
                <button class="w-full" pButton type="button" label="Reset Password"></button>
            </div>
            <div class="flex w-full align-items-center justify-content-center mb-6 w-full">
                <button pButton type="button" icon="pi pi-arrow-left" label="Back to Login" class="p-button-secondary p-button-text"></button>
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 z-2 w-full h-15rem waveBg py-20">
    </div>
</div>


