<div class="flex">
    <app-sidemenu></app-sidemenu>
    <div class="mainContent flex flex-grow-1 flex-column">
  
    <app-topnav></app-topnav>

      <div class="contentArea flex flex-column surface-50 p-6 flex-grow-1">
        <div class="flex-grow-1 bg-white">
            <div class="grid h-full m-0">
                <div class="col-12 xl:col-3  border-none border-right-1 border-solid border-100 lg:h-full p-6">
                    <div class="grid">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
                <div class="col-12 xl:col-9 flex-column p-6">
                    <div class="flex flex-column h-full bg-white">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>