<div class="flex">

  <!-- side bar container-->
  <div class="h-screen">
    <app-sidemenu></app-sidemenu>
  </div>

  <div class="mainContent flex flex-grow-1 flex-column">

      <app-topnav></app-topnav>

      <div class="bg-white secondary-bar border-none border-bottom-1 border-solid border-200 px-4 flex align-items-center justify-content-between">
        <div class="flex align-items-center gap-3 flex">
          <p-dropdown [options]="clients"  optionLabel="name" optionValue="code" dataKey="code" styleClass="text-sm siteSwitcherDropdown"></p-dropdown>
          <p-dropdown [options]="progress" optionLabel="name" optionValue="code" dataKey="code" styleClass="text-sm siteSwitcherDropdown"></p-dropdown>
        </div>
        <div class="flex align-items-center gap-2 py-2">
          <button pButton icon="pi pi-plus-circle" type="button" label="New Project" class="p-button-text p-button-sm" styleClass="p-button-sm" (click)="visibleSidebar2 = true"></button>
        </div>
      </div>

      <div class="contentArea flex flex-column surface-50 p-4 flex-grow-1">
        <div class="flex-grow-1">
            <div class="grid h-full m-0">
                <div class="col-12 lg:h-full p-0">
                    
                  <p-dataView [value]="product">
                    <ng-template let-product pTemplate="listItem">

                        <div class="w-full p-4 bg-white flex flex-column md:flex-row border-round-sm mb-2 cursor-pointer shadow-1" routerLink="/projectProfile" routerLinkActive="active">

                          <div class="col-12 md:col-4 p-0 md:px-3  flex align-items-center md:align-items-start mb-3 md:mb-0">
                            <p-avatar
                                image="./../../assets/img/company-avatar-default.png"
                                size="large"
                                shape="circle"
                            ></p-avatar>
                            <p class="my-0 ml-3">
                              Project Zest
                            </p>
                          </div>
                          <div class="col-12 md:col-2 p-0 md:px-3  flex flex-column mb-3 md:mb-0">
                            <p class="my-0">
                              Dialogg
                            </p>
                            <p class="my-0 text-sm text-color-secondary">
                              Client
                            </p>
                          </div>
                          <div class="col-12 md:col-2 p-0 md:px-3  flex flex-column mb-3 md:mb-0">
                            <p class="my-0">
                              June 2022 - June 2023
                            </p>
                            <p class="my-0 text-sm text-color-secondary">
                              Project period
                            </p>
                          </div>
                          <div class="col-12 md:col-2 p-0 md:px-3  flex flex-column mb-3 md:mb-0">
                            <p class="my-0">
                              15th June 2023
                            </p>
                            <p class="my-0 text-sm text-color-secondary">
                              Completion date
                            </p>
                          </div>
                          <div class="col-12 md:col-2 p-0 md:px-3  flex mb-3 md:mb-0">
                            <p-tag styleClass="p-mr-2 text-sm bg-green-100 text-green-500 font-normal px-3" value="Preliminary"></p-tag>
                          </div>

                        </div>
                        
                    </ng-template>
                </p-dataView>

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>





<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" class="flex flex-column lg:w-30rem" styleClass="flex flex-column flex-1 lg:w-30rem">
  <div class="flex h-full flex-column">
    <div class="w-full px-4 h-3rem flex align-items-center justify-content-between border-none border-bottom-1 border-200 border-solid sticky top-0">
      <p class="mt-0 mb-0 font-medium">Add New Project</p>
    </div>
    <div class="flex-grow-1 flex-column py-5 px-4">
      <div class="p-field flex flex-column mb-3">
        <label class="mb-2">Select Client</label>
        <p-dropdown [options]="clients" [(ngModel)]="selectedSite" optionLabel="name" [showClear]="false" styleClass="w-full"></p-dropdown>
      </div>
      <div class="p-field  flex flex-column mb-3">
        <label class="mb-2">Project Name</label>
        <input type="text" pInputText styleClass="w-full">
      </div>
      <div class="p-field  flex flex-column mb-3">
        <label class="mb-2">Project Description</label>
        <textarea pInputTextarea></textarea>
      </div>
      <div class="p-field flex flex-column mb-3">
        <label class="mb-2">Project Period</label>
        <p-dropdown [options]="clients" [(ngModel)]="selectedSite" optionLabel="name" [showClear]="false" styleClass="w-full"></p-dropdown>
      </div>
      <div class="p-field flex flex-column mb-3">
        <label class="mb-2">Completion Date</label>
        <p-calendar inputId="basic" [(ngModel)]="date1" class="w-full" styleClass="w-full"></p-calendar>
      </div>
      <div class="p-field flex flex-column mb-3">
        <label class="mb-2">Project Status</label>
        <p-dropdown [options]="clients" [(ngModel)]="selectedSite" optionLabel="name" [showClear]="false" styleClass="w-full"></p-dropdown>
      </div>
    </div>
    <div class="w-full px-4 py-3 flex border-none border-top-1 border-200 border-solid sticky bottom-0">
        <p-button label="Add" styleClass="w-full" class="w-full"></p-button>
    </div>
  </div>
</p-sidebar>
